<mat-toolbar color="accent" class="primary-navbar">
    <span class="page-title">Library Details</span>
</mat-toolbar>
<mat-card>
    <section class="grid-container">
        <mat-card class="general-information">
            <mat-card-header>
                <mat-card-title>
                    <h2>{{library.name}}</h2>
                </mat-card-title>
                <mat-card-subtitle>
                    <div *ngIf="library.foundationDate">
                        <h3>Since {{library.foundationDate}}</h3>
                    </div>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p><b>Address: </b>{{library.address}}</p>
                <p><b>Opening Hours :</b></p>
                <div *ngFor="let time of library.openingTimes">
                    <p><b>Days: </b>{{time.days}}</p>
                    <p *ngIf="!time.closed">Opening: {{time.opening}} - Closing:{{time.closing}}</p>
                    <p *ngIf="time.closed">Opening: Closed</p>
                </div>
                <p><b>Phone: </b>{{library.phone}}</p>
                <p *ngIf="library.website"><b>Website: </b><a href="{{library.website}}">Library Website</a></p>
                <div *ngIf="library.socialMedia">
                    <p><b>Social Media: </b></p>
                    <div>
                        <button *ngIf="library.socialMedia.facebook" mat-icon-button>
                            <a class="facebook-icon" href={{library.socialMedia.facebook}}></a>
                        </button>
                        <button *ngIf="library.socialMedia.youtube" mat-icon-button>
                            <a class="youtube-icon" href={{library.socialMedia.youtube}}></a>
                        </button>
                        <button *ngIf="library.socialMedia.wikipedia" mat-icon-button>
                            <a class="wikipedia-icon" href={{library.socialMedia.wikipedia}}></a>
                        </button>
                        <button *ngIf="library.socialMedia.other" mat-icon-button>
                            <a class="other-icon" href={{library.socialMedia.other}}></a>
                        </button>
                    </div>
                </div>
                <p *ngIf="library.portal"><b>Portal: </b><a href="{{library.portal}}">Library Portal</a></p>

            </mat-card-content>
        </mat-card>
        <mat-card class="map">
            <mat-card-content>
                <div class="error">{{message}}</div>
                <div id="map"></div>
            </mat-card-content>
        </mat-card>
    </section>
</mat-card>