<div class="wrapper">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="primary-navbar">
            <span class="navbar-icon"></span>
            <span class="nav-element">About</span>
            <span class="nav-spacer"></span>
            <button mat-icon-button matTooltip="Enable {{theme}} theme"  [value]="theme" (click)="toggleTheme()">
                <span *ngIf="theme == 'light'" class="light-off-icon" ></span>
                <span *ngIf="theme == 'dark'" class="light-on-icon"></span>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="nav-element">List of libraries</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div>

    </div>
    <mat-card class="container-card">
        <div class="main">
            <mat-card>
                <p>Name</p>
                <p>Address</p>
                <mat-chip>200m</mat-chip>
            </mat-card>
            <mat-card>
                <p>Name</p>
                <p>Address</p>
            </mat-card>
            <mat-card>
                <p>Name</p>
                <p>Address</p>
            </mat-card>
            <mat-card>
                <p>Name</p>
                <p>Address</p>
            </mat-card>
            <mat-card>
                <p>Name</p>
                <p>Address</p>
            </mat-card>
            <mat-card>
                <p>Name</p>
                <p>Address</p>
            </mat-card>
            <mat-card>
                <p>Name</p>
                <p>Address</p>
            </mat-card>
            <mat-card>
                <p>Name</p>
                <p>Address</p>
            </mat-card>
            <mat-card>
                <p>Name</p>
                <p>Address</p>
            </mat-card>
        </div>
        <div class="side">
            <p>Looking for a place where you can get knowledge, learn and study our service gives you the list of the
                nearest
                libraries to your position</p>
        </div>
    </mat-card>
    <mat-toolbar class="footer" color="primary">
        <p>Copyright © 2021 All Rights Reserved by Sadok Jbenyeni</p>
        <span class="nav-spacer"></span>
        <button mat-icon-button>
            <span class="gitlab-icon"></span>
        </button>
        <button mat-icon-button>
            <span class="protonmail-icon"></span>
        </button>
    </mat-toolbar>
</div>