<div>
    <mat-list>
        <mat-list-item>
            <p matLine>NATIONAL LIBRARY</p>
            <p matLine>Address</p>
            <mat-chip-list matLine>
                <mat-chip color="accent" disabled> SnackBar</mat-chip>
                <mat-chip color="accent" selected>Wifi</mat-chip>
                <mat-chip color="accent" selected>Garden</mat-chip>
            </mat-chip-list>
            <span class="chip-spacer"></span>
            <mat-chip color="warn" selected>200m</mat-chip>
        </mat-list-item>
        <mat-list-item>
            <p matLine>NATIONAL LIBRARY</p>
            <p matLine>Address</p>
            <mat-chip-list matLine>
                <mat-chip color="accent" disabled> SnackBar</mat-chip>
                <mat-chip color="accent" selected>Wifi</mat-chip>
                <mat-chip color="accent" selected>Garden</mat-chip>
            </mat-chip-list>
            <span class="chip-spacer"></span>
            <mat-chip color="warn" selected>200m</mat-chip>
        </mat-list-item>
        <mat-list-item>
            <p matLine>NATIONAL LIBRARY</p>
            <p matLine>Address</p>
            <mat-chip-list matLine>
                <mat-chip color="accent" disabled> SnackBar</mat-chip>
                <mat-chip color="accent" selected>Wifi</mat-chip>
                <mat-chip color="accent" selected>Garden</mat-chip>
            </mat-chip-list>
            <span class="chip-spacer"></span>
            <mat-chip color="warn" selected>200m</mat-chip>
        </mat-list-item>
        <mat-list-item>
            <p matLine>NATIONAL LIBRARY</p>
            <p matLine>Address</p>
            <mat-chip-list matLine>
                <mat-chip color="accent" disabled> SnackBar</mat-chip>
                <mat-chip color="accent" selected>Wifi</mat-chip>
                <mat-chip color="accent" selected>Garden</mat-chip>
            </mat-chip-list>
            <span class="chip-spacer"></span>
            <mat-chip color="warn" selected>200m</mat-chip>
        </mat-list-item>
        <mat-list-item>
            <p matLine>NATIONAL LIBRARY</p>
            <p matLine>Address</p>
            <mat-chip-list matLine>
                <mat-chip color="accent" disabled> SnackBar</mat-chip>
                <mat-chip color="accent" selected>Wifi</mat-chip>
                <mat-chip color="accent" selected>Garden</mat-chip>
            </mat-chip-list>
            <span class="chip-spacer"></span>
            <mat-chip color="warn" selected>200m</mat-chip>
        </mat-list-item>
        <mat-list-item>
            <p matLine>NATIONAL LIBRARY</p>
            <p matLine>Address</p>
            <mat-chip-list matLine>
                <mat-chip color="accent" disabled> SnackBar</mat-chip>
                <mat-chip color="accent" selected>Wifi</mat-chip>
                <mat-chip color="accent" selected>Garden</mat-chip>
            </mat-chip-list>
            <span class="chip-spacer"></span>
            <mat-chip color="warn" selected>200m</mat-chip>
        </mat-list-item>
        <mat-list-item>
            <p matLine>NATIONAL LIBRARY</p>
            <p matLine>Address</p>
            <mat-chip-list matLine>
                <mat-chip color="accent" disabled> SnackBar</mat-chip>
                <mat-chip color="accent" selected>Wifi</mat-chip>
                <mat-chip color="accent" selected>Garden</mat-chip>
            </mat-chip-list>
            <span class="chip-spacer"></span>
            <mat-chip color="warn" selected>200m</mat-chip>
        </mat-list-item>
    </mat-list>
</div>