<h1>National Library</h1>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            General Information
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Address: 1008، Boulevard du 9 Avril 1938, Tunis</p>
        <p>Opening Hours : Monday to Saturday 8am to 6pm</p>
        <p>Phone: 71 572 074</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            Digital Information
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Website: bibliotheque.nat.tn</p>
        <p>Social Media: facebook twitten logos</p>
        <p>E-mail: bib@bib.com</p>
        <p>Portal: portalwebsite.com</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            Map
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div id="map"></div>
    </mat-card-content>
</mat-card>