<mat-card>
    <section class="grid-container">
        <mat-card class="general-information">
            <mat-card-header>
                <mat-card-title>
                    <h1>National Library</h1>
                </mat-card-title>
                <mat-card-subtitle>
                    <h3>Since 1945</h3>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h3><b>Address: </b>1008، Boulevard du 9 Avril 1938, Tunis</h3>
                <h3><b>Opening Hours :</b> Monday to Saturday 8am to 6pm</h3>
                <h3><b>Phone: </b>71 572 074</h3>
                <h3><b>Website: </b>bibliotheque.nat.tn</h3>
                <h3><b>Social Media: </b>facebook twitten logos</h3>
                <h3><b>E-mail: </b>bib@bib.com</h3>
                <h3><b>Portal: </b>portalwebsite.com</h3>
            </mat-card-content>
        </mat-card>
        <mat-card class="map">
            <mat-card-content>
                <div id="map"></div>
            </mat-card-content>
        </mat-card>
    </section>
</mat-card>