<mat-card>
    <section class="grid-container">
        <mat-card class="general-information">
            <mat-card-header>
                <mat-card-title>
                    <h1>National Library</h1>
                </mat-card-title>
                <mat-card-subtitle>
                    <h3>Since 1945</h3>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h3>Address: 1008، Boulevard du 9 Avril 1938, Tunis</h3>
                <h3>Opening Hours : Monday to Saturday 8am to 6pm</h3>
                <h3>Phone: 71 572 074</h3>
                <h3>Website: bibliotheque.nat.tn</h3>
                <h3>Social Media: facebook twitten logos</h3>
                <h3>E-mail: bib@bib.com</h3>
                <h3>Portal: portalwebsite.com</h3>
            </mat-card-content>
        </mat-card>
        <mat-card class="map">
            <mat-card-content>
                <div id="map"></div>
            </mat-card-content>
        </mat-card>
    </section>
</mat-card>