<mat-toolbar color="accent" class="primary-navbar">
    <span class="page-title">About</span>
</mat-toolbar>
<img src="../../assets/images/aboutus.jpg" alt="Library" class="responsive">
<h2>NO MATTER WHERE YOU ARE, WE BELIEVE THAT YOU SHOULD FIND A NEARBY LIBRARY.</h2>
<h3>Nowadays, reading and book usage has been reduced to minimum, ebooks became a substitue to classical books,
    search engines and internet with its powerful computing capabilites enlarged the distance between the reader and the
    library.
</h3>

<h3>We thought that cutting with technology would not be a great idea, but using it to our side may help solving the
    problem.
    That's why we wanted to provide a solution for the permenantly connected society that makes locating libraries a
    painless task and
    restore reading habits.
</h3>

<h3>This project is a voluntary, free and open source.
    We welcome everyones comments, suggestions and contributions that may improve and helps spread the word</h3>