mat-list-item {
  padding: 1% 0 1% !important;
  border-bottom: 3px solid rgba(145, 145, 145, 0.2);
}

mat-list-item:hover{
  background-color: rgba(150, 149, 149, 0.2);
}

.title {
  font-weight: 900 !important;
  font-size: x-large !important; 
  text-decoration: none;
  color: rgb(134, 148, 148);
}

.title:hover {
  color: rgb(214, 58, 58);
}


.primary-navbar {
  align-items: center;
  padding: 8px 16px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.page-title {
  padding: 0 3%;
  font-family: "Thasadith";
  font-weight: 100;
  font-size: 130%;
}

.max-dis{
  font-size: 50%;
  font-weight: lighter;
  text-align: center;
}

.mat-slider {
  max-height: 10px;
}

.slider-container {
  display: grid;
  position: absolute;
  right: 0;
}