<mat-toolbar color="accent" class="primary-navbar">
    <span class="page-title">List of Libraries</span>
    <span class="slider-container">
        <mat-slider (input)="onInputChange($event)" color="warn" thumbLabel [displayWith]="formatLabel"
            tickInterval="1000" step="1000" min="0" max="99000" aria-label="units">
        </mat-slider>
        <span class="max-dis">Maximum Distance</span> 
    </span>

</mat-toolbar>

<div>
    <mat-list>
        <mat-list-item *ngFor="let library of libraries">
            <a matLine class="title" href="/libraries/{{library.id}}">{{library.name}}</a>
            <h3 matLine>{{library.address}}</h3>
            <mat-chip-list matLine>
                <mat-chip *ngFor="let facility of library.facilities" color="accent">{{facility}}</mat-chip>
            </mat-chip-list>
            <span class="chip-spacer"></span>
            <mat-chip color="warn" selected>{{library.distance}}</mat-chip>
        </mat-list-item>
    </mat-list>
</div>